<body class="body7">
  <header>
    <nav>
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo left neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
            class="flicker-fast">H</span>AVEN</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="members.html">Members Lounge</a>
        </li>
         <li>
          <a href="addgame.html">Game List</a>
        </li>
        <li>
          <a href="logout">Log out</a>
        </li>
      </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <h1 class="text-center">public reviews!</h1>

        <ul id="public-reviews">
          {{#each games}}
          <li>
            <p><span class="label">Title:</span> {{this.game_title}}</p>
            <p><span class="label">platform:</span> {{this.game_platform}}</p>
            <p><span class="label">review:</span> {{this.game_review}}</p>
            <p><span class="label">rating:</span> {{this.game_rating}}</p>

          </li>
          {{/each}}

        </ul>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/profile.js"></script>
</body>