<body class="body6">
	<header>
		<nav>
			<div class="nav-wrapper cyan">
				<a href="/" class="brand-logo left neon" data-text="U">GA<span
						class="flicker-slow">M</span>E<span class="flicker-fast">H</span>AVEN</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li>
						<a href="profile.html">All about me!</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">

		<div class="make" align="center">
			<h2 class="add">Add new game!</h2>

			<form id="cms">
				<div class="form-group">
					<label for="title">Game Title:</label>
					<input placeholder="game-Title" type="text" class="form-control" id="title">
					<br />
					<input placeholder="platform" class="form-control" rows="1" id="platform"></input>
					<label for="body">review:</label>
					<textarea placeholder="game-review" class="form-control" rows="10" id="review"></textarea>
					<label for="body">rating: 1- 5</label>
					<input placeholder="game-rating" class="form-control" rows="1" id="rating"></input>
					<br />
					<button type="submit" class="btn btn-success submit">Submit</button>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="js/addgame.js"></script>
</body>