<body class="body6">
	<header>
		<nav>
			<div class="nav-wrapper cyan">
				<a href="/" class="brand-logo center neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
						class="flicker-fast">H</span>AVEN</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li>
						<a href="members.html">News</a>
					</li>
					<li>
						<a href="profile.html">Profile</a>
					</li>
					<li>
						<a href="gamepage.html">Public Reviews</a>
					</li>
					<li>
						<a href="logout">Log out</a>
					</li>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo">
			<li>
				<a href="members.html" style="color: white;">News</a>
			</li>
			<li>
				<a href="profile.html" style="color: white;">Profile</a>
			</li>
			<li>
				<a href="gamepage.html" style="color: white;">Public Reviews</a>
			</li>
			<li>
				<a href="logout" style="color: white;">Log out</a>
			</li>
		</ul>
	</header>

	<div class="container flow-text">

		<div class="make" align="center">
			<h2 class="add" style="background-color:#00e1ffda; text-align:center;">Add new game!</h2>

			<form id="cms">
				<div style="background-color:rgba(255, 255, 255, 0.76)" class="form-group">
					<label for="title" class="black-text">Game Title: Required</label>
					<input placeholder="Game-Title" type="text" class="form-control" id="title">
					<br />
					<label for="platfrom" class="black-text">Platfrom: Required</label>
					<input placeholder="Platform" class="form-control" rows="1" id="platform"></input>
					<label for="body" class="black-text">Review:</label>
					<textarea placeholder="Game-Review" class="form-control" rows="1" id="review"></textarea>
					<label for="body" class="black-text">Rating: 1- 5</label>
					<input placeholder="Game-Rating" class="form-control" rows="1" id="rating"></input>
					<br />
					<button type="submit" class="btn btn-success submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/addgame.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>