<body class="body6">
	<header>
		<nav>
			<div class="nav-wrapper cyan">
				<a href="/" class="brand-logo left neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
						class="flicker-fast">H</span>AVEN</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li>
						<a href="members.html">Members Lounge</a>
					</li>
					<li>
						<a href="profile.html">All about me!</a>
					</li>
					<li>
						<a href="logout">Log out</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container flow-text">

		<div class="make" align="center">
			<h2 class="add">Add new game!</h2>

			<form id="cms">
				<div style="background-color:rgba(255, 255, 255, 0.76)" class="form-group">
					<label for="title" class="black-text">Game Title: Required</label>
					<input placeholder="game-Title" type="text" class="form-control" id="title">
					<br />
					<label for="platfrom" class="black-text">Platfrom: Required</label>
					<input placeholder="platform" class="form-control" rows="1" id="platform"></input>
					<label for="body" class="black-text">Review:</label>
					<textarea placeholder="game-review" class="form-control" rows="10" id="review"></textarea>
					<label for="body" class="black-text">Rating: 1- 5</label>
					<input placeholder="game-rating" class="form-control" rows="1" id="rating"></input>
					<br />
					<button type="submit" class="btn btn-success submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/addgame.js"></script>
</body>