<body class="body1">
  <header>
    <nav>
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo left neon" data-text="U"
          >GA<span class="flicker-slow">M</span>E<span class="flicker-fast"
            >H</span
          >AVEN</a
        >
      </div>
    </nav>
  </header>

  <div class="container centered">
    <div class="row">
      <div class="col s12 m4 l8">
        <div class="section">
          <h2 class="red-text">INITIATE!</h2>
          <a
            href="login.html"
            class="waves-effect waves-light btn-large red home"
            >Login</a
          >
          <a
            href="signup.html"
            class="waves-effect waves-light btn-large red home"
            >Sign Up Now!</a
          >
        </div>
        <div class="row">
          <div class="col s12 m4 l8">
            <div class="section">
              <a
                href="members.html"
                class="waves-effect waves-light btn-large red home"
                >Member Lounge</a>
                <a
                href="profile.html"
                class="waves-effect waves-light btn-large red home"
                >All About Me!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
