<body class=body3>
  <header>
    <nav>
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo center neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
            class="flicker-fast">H</span>AVEN</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="profile.html">Profile</a></li>
          <li><a href="addgame.html">Add Game</a></li>
          <li><a href="gamepage.html">Public Reviews</a></li>
          <li><a href="logout">Log out</a></li>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="profile.html">Profile</a></li>
        <li><a href="addgame.html">Add Game</a></li>
        <li><a href="gamepage.html">Public Reviews</a></li>
        <li><a href="logout">Log out</a></li>
      </ul>
  </header>

  <div class="container white-text flow-text">
    <h1>
      Welcome one and all, to GameHaven, your one stop shop for all things game!
    </h1>
    <h3>
      Updates to come:
    </h3>
    <hr>
    <P>Greetings, and welcome to our site. As of now you are able to sign up, log in, enter video game info, store it in
      a list of played games or a list of games you wish to play, post reviews, and see others’ reviews.</P>
    <p>We are developing connections with a database to provide you with all the games information on it, so all you'll
      need to do is add the game to your list and the database will fill in the rest.</p>
    <p>We are looking to add chat options, as well as a streaming system to allow you to connect your profile to your
      stream and also other social media platforms.</p>
    <p>We are working on adding additional platforms of gaming, including card games (poker, Magic: The Gathering,
      Yu-Gi-Oh!, Pokemon, etc.), tabletop role-playing games (Dungeons and Dragons, Masks, Call of Cthulhu, etc.), board
      games, and more!</p>
    <p>We also hope to give you the ability to upload your best plays to your profile.</p>
    <p>Our goal is to be a social platform for all things game, an all-in-one resource of information, and an
      opportunity to be recognized for your talents. </p>
    <p>So stay tuned and check back with us often to enjoy the updates as they come.</p>
    <h4>-The GameHaven Staff</h4>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>