<body class= body3>
  <header>
    <nav>
        <div class="nav-wrapper cyan">
          <a href="/" class="brand-logo left neon" data-text="U">GA<span class="flicker-slow">M</span>E<span class="flicker-fast">H</span>AVEN</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="profile.html">User Profile</a></i>
            <li><a href="games.html">Add Game</a></i>
          </ul>
        </div>
      </nav>
</header>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

