<body class=body3>
  <header>
    <nav>
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo left neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
            class="flicker-fast">H</span>AVEN</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="profile.html">User Profile</a></i>
          <li><a href="addgame.html">Add Game</a></i>
          <li><a href="gamepage.html">Public Reviews</a></i>
          <li>
            <a href="logout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container flow-text">
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle blue">PH</i>
        <span class="title">PonderHavok</span>
        <p>Jonny <br>
          Talbott
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>