<body class=body3>
  <header>
    <nav>
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo left neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
            class="flicker-fast">H</span>AVEN</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="profile.html">Profile</a></li>
          <li><a href="addgame.html">Add Game</a></li>
          <li><a href="gamepage.html">Public Reviews</a></li>
            <a href="logout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container white-text flow-text">
    <h1>
      Welcome one and all, to GameHaven. You're one stop shop for all things game.
    </h1>
    <h3>
      Updates to come:
    </h3>
    <hr>
    <P>Greetings and welcome to our site. As of now you are able to signup, log in, enter video game info, store it in a list of played games or a list of games you wish to play, and post reviews and see reviews of others..</P>
    <p>We are currently developing connections with a database with all game info on it so all you'll need to do is add it to your lists.</p>
    <p>We are also looking to add chat options, as well as a streaming system to allow you to connect your profile to your stream and also other social media platforms.</p>
    <p>We are also working on adding additional platforms of gaming, whether it be card games(poker,Magic: The Gathering, Yugio, Pokemon, Etc.) or Table Top Role Playing games(Dungeons and Dragons, Masks, Call Of Cthulhu, Etc.) Board Games and more! </p>
    <p>We are also working on allowing you the ability to upload your best plays to your profile.</p>
    <p>Our Goal is to be a social platform for all things "Game" and with that, a all in one resource of information, and an opportunity of recognition for your talents. </p>
    <p>So stay tuned and check back with us often to enjoy the updates as they come.</p>
    <h4>-The GameHaven Staff</h4>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>